{% extends "pages/base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-homeindexpage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>

    <div class="intro">{{ page.intro|richtext }}</div>

    <div class="container px-4 py-5" id="icon-grid">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
        {% for post in page.get_children %}
          <div class="col d-flex align-items-start">
            <i class="bi bi-{{ post.specific.icon }} text-muted flex-shrink-0 me-3" width="2em" height="2em"/></i>
            <div>
              <h4 class="fw-bold mb-0">{{ post.title }}</h4>
              <p>{{ post.intro|richtext }}</p>
              <p><a class="btn btn-primary btn-sm" href="{% pageurl post %}" role="button">Learn more.</a></p>
            </div>
          </div> <!-- item -->
          {% if forloop.counter|divisibleby:4 %} {# make sure 4 per row, restart grid #}
        </div>
      </div>
      <div class="container px-4 py-5" id="icon-grid">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
          {% endif %}
        {% endfor %}
      </div>
    </div>
{% endblock %}

