{% extends "pages/base.html" %}
{% load wagtailcore_tags %}
{% block body_class %}template-homeindexpage{% endblock %}
{% block content %}
    <div class="container px-4 py-5" id="icon-grid">
        <h1>{{ page.title }}</h1>
        <div class="intro">{{ page.intro|richtext }}</div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
            {% for post in page.get_children %}
                <div class="card col mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h2 class="my-0 fw-normal">
                            <i class="bi bi-{{ post.specific.icon }} text-muted flex-shrink-0 me-3"
                               width="2em"
                               height="2em" >
                            {{ post.title }}</i>
                        </h2>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ post.specific.card_title|richtext }}</h3>
                        <h4 class="card-subtitle mb-2 text-muted">{{ post.specific.card_subtitle|richtext }}</h4>
                        <p class="card-text">{{ post.specific.intro|richtext }}</p>
                        <p>
                            <a class="btn btn-primary btn-sm card-link"
                               href="{% pageurl post %}"
                               role="button">Learn more.</a>
                        </p>
                    </div>
                    <!-- card-body -->
                </div>
                <!-- card -->
                {% if forloop.counter|divisibleby:3 %}
                    {# make sure 4 per row, restart grid #}
                </div>
                <!-- row -->
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
